---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  imageSrc: ImageMetadata;
  text1: string;
  text2: string;
}

const { imageSrc, text1, text2 } = Astro.props;
---

<section class="w-full h-screen relative">
  <Image
    src={imageSrc}
    alt="Hero image"
    class="w-full h-full object-cover object-center"
    widths={[640, 960, 1200, 1920, 2560]}
    sizes="100vw"
    loading="eager"
    decoding="sync"
    fetchpriority="high"
  />
  <div class="absolute inset-0 gradient-overlay"></div>

  <div
    class="absolute inset-0 sm:flex hidden flex-col items-center justify-center px-4 text-center"
  >
    <div
      class="px-6 py-4 rounded-full"
      style="background: radial-gradient(50% 50% at 50% 50%, rgba(11, 29, 38, 0.4) 0%, rgba(18, 38, 52, 0) 100%);"
    >
      <div
        class="text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-playfairDisplay font-italic"
      >
        {text1}
      </div>
      <div
        class="text-white text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-playfairDisplay font-italic"
      >
        {text2}
      </div>
    </div>
  </div>
</section>

<style>
  .gradient-overlay {
    /* Mobile gradient (default) */
    background: linear-gradient(
      180deg,
      rgba(11, 29, 38, 0) 2.87%,
      rgba(11, 29, 38, 0.572115) 64.87%,
      #0b1d26 80.26%
    );
  }

  /* Tablet gradient */
  @media (min-width: 640px) {
    .gradient-overlay {
      background: linear-gradient(
        180deg,
        rgba(11, 29, 38, 0) 80%,
        rgba(11, 29, 38, 0.3) 80%,
        #0b1d26 100%
      );
    }
  }

  /* Desktop gradient */
  @media (min-width: 1024px) {
    .gradient-overlay {
      background: linear-gradient(
        180deg,
        rgba(11, 29, 38, 0) 80%,
        rgba(11, 29, 38, 0.3) 80%,
        #0b1d26 100%
      );
    }
  }
</style>
