---
import { Image } from "astro:assets";
import floorPlansImage from "../../../public/FloorPlans/Rectangle 34624212.png";
import FloorPlansCarousel from "./FloorPlansCarousel";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);

const dataCarousel = [
  {
    id: "floor-plan-1",
    floorPlanImage: "/FloorPlans/T1_Modelo_A.png",
    smallImageCollumnTable: true,
    smallImageStyle:
      "hidden lg:flex w-[100px] h-[52px] sm:w-[120px] sm:h-[62px] md:w-[140px] md:h-[73px] lg:w-[171px] lg:h-[89px]",
    smallFloorPlanImage: "/FloorPlans/T1_Modelo_A_Small.svg",
    tableImagePT: "/FloorPlans/T1A_PT1.svg",
    tableImageEN: "/FloorPlans/T1A_EN1.svg",
    tableImageStyle:
      "w-full max-w-[250px] sm:max-w-[300px] md:max-w-[350px] lg:max-w-[400px] h-full max-h-[250px] sm:max-h-[300px] md:max-h-[400px] lg:max-h-[360px] flex items-center justify-center",
    mainTitleKey: "floorplans.t1_model_a",
    mobileTitleKey: "floorplans.t1_model_a_mobile",
    subTitleKey: "floorplans.t1_model_a_subtitle",
    mobileSelectorKey: "floorplans.t1_model_a_mobile_selector",
  },
  {
    id: "floor-plan-2",
    floorPlanImage: "/FloorPlans/T1_Modelo_B.png",
    smallImageCollumnTable: false,
    smallImageStyle:
      "hidden lg:flex w-[100px] h-[52px] sm:w-[120px] sm:h-[62px] md:w-[140px] md:h-[73px] lg:w-[171px] lg:h-[89px] mx-auto",
    smallFloorPlanImage: "/FloorPlans/T1_Modelo_B_Small.svg",
    tableImagePT: "/FloorPlans/T1B_PT1.svg",
    tableImageEN: "/FloorPlans/T1B_EN1.svg",
    tableImageStyle:
      "w-full max-w-[250px] sm:max-w-[300px] md:max-w-[350px] lg:max-w-[400px] h-full max-h-[270px] sm:max-h-[300px] md:max-h-[400px] lg:max-h-[360px] flex items-center justify-center",
    mainTitleKey: "floorplans.t1_model_b",
    mobileTitleKey: "floorplans.t1_model_b_mobile",
    subTitleKey: "floorplans.t1_model_b_subtitle",
    mobileSelectorKey: "floorplans.t1_model_b_mobile_selector",
  },
  {
    id: "floor-plan-3",
    floorPlanImage: "/FloorPlans/T1_Modelo_C.png",
    smallImageCollumnTable: false,
    smallImageStyle:
      "hidden lg:flex w-[100px] h-[52px] sm:w-[120px] sm:h-[62px] md:w-[140px] md:h-[73px] lg:w-[171px] lg:h-[89px] mx-auto",
    smallFloorPlanImage: "/FloorPlans/T1_Modelo_C_Small.svg",
    tableImagePT: "/FloorPlans/T1C_PT1.svg",
    tableImageEN: "/FloorPlans/T1C_EN1.svg",
    tableImageStyle:
      "w-full max-w-[250px] sm:max-w-[300px] md:max-w-[350px] lg:max-w-[400px] h-full max-h-[250px] sm:max-h-[300px] md:max-h-[400px] lg:max-h-[360px] flex items-center justify-center",
    mainTitleKey: "floorplans.t1_model_c",
    mobileTitleKey: "floorplans.t1_model_c_mobile",
    subTitleKey: "floorplans.t1_model_c_subtitle",
    mobileSelectorKey: "floorplans.t1_model_c_mobile_selector",
  },
  {
    id: "floor-plan-4",
    floorPlanImage: "/FloorPlans/T2_Modelo_A.png",
    smallImageCollumnTable: false,
    smallImageStyle:
      "hidden lg:flex absolute bottom-50 xl:bottom-52 -right-11 xl:-right-5 w-[100px] h-[52px] sm:w-[120px] sm:h-[62px] md:w-[140px] md:h-[73px] lg:w-[171px] lg:h-[89px]",
    smallFloorPlanImage: "/FloorPlans/T2_Modelo_A_Small.svg",
    tableImagePT: "/FloorPlans/T2A_PT1.svg",
    tableImageEN: "/FloorPlans/T2A_EN1.svg",
    tableImageStyle:
      "w-full max-w-[290px] sm:max-w-[330px] md:max-w-[360px] lg:max-w-[400px] h-full max-h-[330px] sm:max-h-[360px] md:max-h-[450px] lg:max-h-[450px] flex items-center justify-center",
    mainTitleKey: "floorplans.t2_model_a",
    mobileTitleKey: "floorplans.t2_model_a_mobile",
    subTitleKey: "floorplans.t2_model_a_subtitle",
    mobileSelectorKey: "floorplans.t2_model_a_mobile_selector",
  },
  {
    id: "floor-plan-5",
    floorPlanImage: "/FloorPlans/T2_Modelo_B.png",
    smallImageCollumnTable: false,
    smallImageStyle:
      " hidden lg:flex absolute bottom-50 xl:bottom-53 -left-2 xl:-left-4 w-[100px] h-[52px] sm:w-[120px] sm:h-[62px] md:w-[140px] md:h-[73px] xl:w-[171px] xl:h-[89px] lg:w-[141px] lg:h-[89px]",
    smallFloorPlanImage: "/FloorPlans/T2_Modelo_B_Small.svg",
    tableImagePT: "/FloorPlans/T2B_PT1.svg",
    tableImageEN: "/FloorPlans/T2B_EN1.svg",
    tableImageStyle:
      "w-full max-w-[290px] sm:max-w-[330px] md:max-w-[360px] lg:max-w-[400px] h-full max-h-[330px] sm:max-h-[360px] md:max-h-[450px] lg:max-h-[450px] flex items-center justify-center",
    mainTitleKey: "floorplans.t2_model_b",
    mobileTitleKey: "floorplans.t2_model_b_mobile",
    subTitleKey: "floorplans.t2_model_b_subtitle",
    mobileSelectorKey: "floorplans.t2_model_b_mobile_selector",
  },
  {
    id: "floor-plan-6",
    floorPlanImage: "/FloorPlans/T3_Modelo_A.png",
    smallImageCollumnTable: false,
    smallImageStyle:
      "hidden lg:flex absolute bottom-100 xl:bottom-110 -right-17 xl:-right-7 w-[100px] h-[52px] sm:w-[120px] sm:h-[62px] md:w-[140px] md:h-[73px] lg:w-[171px] lg:h-[89px]",
    smallFloorPlanImage: "/FloorPlans/T3_Modelo_A_Small.svg",
    tableImagePT: "/FloorPlans/T3A_PT1.svg",
    tableImageEN: "/FloorPlans/T3A_EN1.svg",
    tableImageStyle:
      "w-full max-w-[290px] sm:max-w-[360px] md:max-w-[380px] lg:max-w-[400px] h-full max-h-[370px] sm:max-h-[400px] md:max-h-[480px] lg:max-h-[450px] flex items-center justify-center",
    mainTitleKey: "floorplans.t3_model_a",
    mobileTitleKey: "floorplans.t3_model_a_mobile",
    subTitleKey: "floorplans.t3_model_a_subtitle",
    mobileSelectorKey: "floorplans.t3_model_a_mobile_selector",
  },
  {
    id: "floor-plan-7",
    floorPlanImage: "/FloorPlans/T3_Modelo_B.png",
    smallImageCollumnTable: false,
    smallImageStyle:
      " hidden lg:flex absolute bottom-110 xl:bottom-122 -left-2 xl:-left-3 w-[100px] h-[52px] sm:w-[120px] sm:h-[62px] md:w-[140px] md:h-[73px] lg:w-[100px] lg:h-[89px] xl:w-[150px] xl:h-[89px]",
    smallFloorPlanImage: "/FloorPlans/T3_Modelo_B_Small.svg",
    tableImagePT: "/FloorPlans/T3B_PT1.svg",
    tableImageEN: "/FloorPlans/T3B_EN1.svg",
    tableImageStyle:
      "w-full max-w-[290px] sm:max-w-[360px] md:max-w-[380px] lg:max-w-[400px] h-full max-h-[370px] sm:max-h-[400px] md:max-h-[480px] lg:max-h-[450px] flex items-center justify-center",
    mainTitleKey: "floorplans.t3_model_b",
    mobileTitleKey: "floorplans.t3_model_b_mobile",
    subTitleKey: "floorplans.t3_model_b_subtitle",
    mobileSelectorKey: "floorplans.t3_model_b_mobile_selector",
  },
];
---

<section class="w-full min-h-screen flex items-center justify-center relative">
  <div class="absolute inset-0 w-full h-full -z-10">
    <Image
      src={floorPlansImage}
      alt="Floor Plans"
      class="w-full h-full object-cover"
    />
  </div>

  <FloorPlansCarousel lang={lang} dataCarousel={dataCarousel} client:load />
</section>
