---
import { Image } from "astro:assets";
import floorPlansImage from "../../../public/FloorPlans/Rectangle 34624212.png";
---

<section class="w-full min-h-screen">
  <div class="w-full h-full">
    <Image
      src={floorPlansImage}
      alt="Floor Plans"
      class="w-full h-full object-cover"
    />
  </div>
</section>
