---
import { Image } from "astro:assets";
import floorPlansImage from "../../../public/FloorPlans/Rectangle 34624212.png";
import FloorPlansCarousel from "./FloorPlansCarousel";
---

<section class="w-full relative">
  <div class="w-full h-full">
    <Image
      src={floorPlansImage}
      alt="Floor Plans"
      class="w-full h-full object-cover"
    />
  </div>

  <FloorPlansCarousel client:load />
</section>
