---
import { Image } from "astro:assets";
import floorPlansImage from "../../../public/FloorPlans/Rectangle 34624212.png";
import FloorPlansCarousel from "./FloorPlansCarousel";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<section class="w-full min-h-screen flex items-center justify-center relative">
  <div class="absolute inset-0 w-full h-full -z-10">
    <Image
      src={floorPlansImage}
      alt="Floor Plans"
      class="w-full h-full object-cover"
    />
  </div>

  <FloorPlansCarousel lang={lang} client:load />
</section>
