---
import VectorPointer from "../../../public/HomePage/pointNumbers.svg";
---

<section class="w-full bg-transparent absolute bottom-2">
  <div
    class="grid grid-cols-7 items-center justify-items-center w-full text-white"
  >
    <div class="text-2xl font-bold">10</div>
    <VectorPointer />
    <div class="text-2xl font-bold">10</div>
    <VectorPointer />
    <div class="text-2xl font-bold">10</div>
    <VectorPointer />
    <div class="text-2xl font-bold">10</div>
  </div>
</section>
