---

---

<section class="w-full bg-transparent absolute bottom-2">
  <div class="flex flex-row items-center justify-center w-full z-50">
    <div>10</div>
    <div>10</div>
    <div>10</div>
  </div>
</section>
