---
import { Button } from "@/components/ui/button";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div id="container">
  <main>
    <section id="hero" class="font-playfairDisplay text-4xl font-bold">
      {t("hero.title")}
    </section>

    <Button className="font-montserrat text-sm">{t("button.cta")}</Button>
  </main>
</div>
