---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getImage } from "astro:assets";
import CommonSpacesCarousel from "./CommonSpacesCarousel";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Import images
import rooftopImg from "../../../public/CommonSpaces/rooftop.png";
import gardenImg from "../../../public/CommonSpaces/Imperador_Exterior_08.jpg";
import poolImg from "../../../public/CommonSpaces/Imperador_Exterior_11.jpg";
import solariumImg from "../../../public/CommonSpaces/Imperador_Exterior_07.jpg";
import terrface1 from "../../../public/CommonSpaces/Imperador_Terrace_01.jpg";
import terrface2 from "../../../public/CommonSpaces/Imperador_Terrace_03.jpg";
import terraceMobile from "../../../public/CommonSpaces/Rectangle 34624222.png";

// Process images with getImage - optimize and convert to webp
const processImage = async (image: any) => {
  const processed = await getImage({
    src: image,
    format: "webp",
    quality: 90,
    width: 900,
    height: 900,
  });
  return processed.src;
};

// Process all images
const rooftopImageUrl = await processImage(rooftopImg);
const gardenImageUrl = await processImage(gardenImg);
const poolImageUrl = await processImage(poolImg);
const solariumImageUrl = await processImage(solariumImg);
const terrface1Url = await processImage(terrface1);
const terrface2Url = await processImage(terrface2);
const terraceMobileUrl = await processImage(terraceMobile);

const commonSpaces = [
  {
    id: "rooftop",
    title: t("common_spaces.rooftop.title"),
    description: t("common_spaces.rooftop.description"),
    image: rooftopImageUrl,
    images: [terrface1Url, terrface2Url],
    imageMobile: terraceMobileUrl,
  },
  {
    id: "garden",
    title: t("common_spaces.garden.title"),
    description: t("common_spaces.garden.description"),
    image: gardenImageUrl,
  },
  {
    id: "pool",
    title: t("common_spaces.pool.title"),
    description: t("common_spaces.pool.description"),
    image: poolImageUrl,
  },
  {
    id: "solarium",
    title: t("common_spaces.solarium.title"),
    description: t("common_spaces.solarium.description"),
    image: solariumImageUrl,
  },
];
---

<section class="relative w-full bg-[#0B1D26]" id="common-spaces">
  <div class="w-full mx-auto">
    {/* Section Title - Aligned with space titles */}

    {/* Carousel Component */}
    <CommonSpacesCarousel client:load spaces={commonSpaces} lang={lang} />
  </div>
</section>
