---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import CommonSpacesCarousel from "./CommonSpacesCarousel";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const commonSpaces = [
  {
    id: "rooftop",
    title: t("common_spaces.rooftop.title"),
    description: t("common_spaces.rooftop.description"),
    image: "/CommonSpaces/rooftop.png",
  },
  {
    id: "garden",
    title: t("common_spaces.garden.title"),
    description: t("common_spaces.garden.description"),
    image: "/CommonSpaces/garden.png",
  },
  {
    id: "pool",
    title: t("common_spaces.pool.title"),
    description: t("common_spaces.pool.description"),
    image: "/CommonSpaces/pool.png",
  },
  {
    id: "solarium",
    title: t("common_spaces.solarium.title"),
    description: t("common_spaces.solarium.description"),
    image: "/CommonSpaces/solarium.png",
  },
];
---

<section
  class="relative w-full bg-[#0B1D26]  "
  id="common-spaces"
>
  <div class="w-full mx-auto">
    {/* Section Title - Aligned with space titles */}
   

    {/* Carousel Component */}
    <CommonSpacesCarousel client:load spaces={commonSpaces} lang={lang} />
  </div>
</section>

