---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import CommonSpacesCarousel from "./CommonSpacesCarousel";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const commonSpaces = [
  {
    id: "rooftop",
    title: t("common_spaces.rooftop.title"),
    description: t("common_spaces.rooftop.description"),
    image: "/CommonSpaces/rooftop.png",
  },
  {
    id: "garden",
    title: t("common_spaces.garden.title"),
    description: t("common_spaces.garden.description"),
    image: "/CommonSpaces/garden.png",
  },
  {
    id: "pool",
    title: t("common_spaces.pool.title"),
    description: t("common_spaces.pool.description"),
    image: "/CommonSpaces/pool.png",
  },
  {
    id: "solarium",
    title: t("common_spaces.solarium.title"),
    description: t("common_spaces.solarium.description"),
    image: "/CommonSpaces/solarium.png",
  },
];
---

<section
  class="relative w-full bg-[#0B1D26] min-h-screen py-16 lg:py-24"
  id="common-spaces"
>
  <div class="w-full max-w-[1920px] mx-auto">
    {/* Section Title - Aligned with space titles */}
    <div
      class="font-montserrat text-[#E7C873] uppercase text-[10px] lg:text-[18px] tracking-widest lg:tracking-[6px]  lg:mb-12 pl-8 lg:pl-[136px] xl:pl-[195px]"
    >
      {t("common_spaces.title")}
    </div>

    {/* Carousel Component */}
    <CommonSpacesCarousel client:load spaces={commonSpaces} />
  </div>
</section>

