---

---

<footer class="w-full flex items-center justify-center">
  <div
    class="grid grid-cols-3 items-center justify-items-center w-[95%] md:w-[85%] py-30"
  >
    <div class="flex flex-col items-start justify-center">
      <div
        class="text-[#E7C873] text-xl font-montserrat font-light tracking-widest"
      >
        SOBRE NÓS
      </div>
    </div>
    <div class="flex flex-col items-start justify-center">
      <div
        class="text-[#E7C873] text-xl font-montserrat font-light tracking-widest"
      >
        SOBRE NÓS
      </div>
    </div>
    <div class="flex flex-col items-start justify-center">
      <div
        class="text-[#E7C873] text-xl font-montserrat font-light tracking-widest"
      >
        SOBRE NÓS
      </div>
    </div>
  </div>
</footer>
