---
import "../styles/global.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Header from "@/components/Header/Header.astro";
import Footer from "@/components/Footer/Footer.astro";
import MySideBar from "@/components/Header/mySideBar.tsx";
import { Toaster } from "@/components/ui/sonner";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sidebarTranslations = {
  menu: t("sidebar.menu"),
  home: t("sidebar.home"),
  typologies: t("sidebar.typologies"),
  gallery: t("sidebar.gallery"),
  location: t("sidebar.location"),
  contacts: t("sidebar.contacts"),
  schedule_visit: t("sidebar.schedule_visit"),
  close: t("sidebar.close"),
};
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Montserrat:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playpen+Sans:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-[#0B1D26]">
    <MySideBar client:load translations={sidebarTranslations} lang={lang} />
    <Header />
    <slot />
    <Footer />
    <Toaster client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
