---
import signitureImage from "../../../public/Signiture/logoSigniture.png";
---

<section class="w-full flex items-center justify-center">
  <div class="grid grid-cols-2 w-[70%] items-center justify-items-center">
    <div>dadassadada</div>
    <div>dadassadada</div>
  </div>
</section>
