---
import { Image } from "astro:assets";
import buildingImage from "../../../public/SummaryBuilding/01.png";
import VectorVenda from "../../../public/SummaryBuilding/Group 1171274879.svg";
import VectorVendaEn from "../../../public/SummaryBuilding/Group 1171274877.svg";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  class="w-full bg-[#0B1D26] min-h-screen grid grid-cols-1 md:grid-cols-2 justify-items-center items-center py-16 sm:py-24 md:py-32 px-0 md:px-8 gap-x-2"
>
  <div
    class="w-full flex flex-col items-start justify-center pl-8 md:pl-9 lg:pl-30 2xl:pl-60 px-4 sm:px-8 md:px-0 order-2 md:order-1"
  >
    <div
      class="text-[#E7C873] font-montserrat tracking-[0.3em] text-xs sm:text-sm pb-6 sm:pb-8 md:pb-10"
    >
      {t("summary_building.tagline")}
    </div>
    <div
      class="text-white flex flex-col font-playfairDisplay text-3xl sm:text-4xl md:text-4xl lg:text-5xl pb-8 sm:pb-10 md:pb-12"
    >
      <span> {t("summary_building.title_line1")} </span>
      <span> {t("summary_building.title_line2")} </span>
    </div>

    <div
      class="text-white flex flex-col font-montserrat text-sm sm:text-base font-light pb-8 sm:pb-10 md:pb-12 w-[90%] md:w-[85%] xl:w-[70%]"
    >
      <span> {t("summary_building.description")}</span>
    </div>
    {
      lang === "en" ? (
        <VectorVendaEn class="w-32 sm:w-auto" />
      ) : (
        <VectorVenda class="w-32 sm:w-auto" />
      )
    }
  </div>
  <div
    class="w-full md:w-[360px] xl:w-[480px] h-auto xl:h-[540px] flex items-center justify-center mx-auto order-1 md:order-2 mb-8 md:mb-0 relative"
  >
    <div
      class="absolute -top-1 inset-0 md:hidden pointer-events-none"
      style="background: linear-gradient(180deg, rgba(11, 29, 38, 0)56.48%, rgba(11, 29, 38, 0.572115) 78.62%, #0B1D26 99.18%); transform: rotate(180deg);"
    >
    </div>
    <Image
      src={buildingImage}
      alt={t("summary_building.image_alt")}
      class="w-full h-full object-contain"
      width={540}
      height={600}
    />
    <div
      class="absolute -top-1 inset-0 md:hidden pointer-events-none"
      style="background: linear-gradient(180deg, rgba(11, 29, 38, 0) 56.48%, rgba(11, 29, 38, 0.572115) 78.62%, #0B1D26 99.18%);"
    >
    </div>
  </div>
</section>
