---
import { Image } from "astro:assets";
import buildingImage from "../../../public/SummaryBuilding/01.png";
import VectorVenda from "../../../public/SummaryBuilding/Group 1171274879.svg";
---

<section
  class="w-full bg-[#0B1D26] min-h-screen grid grid-cols-2 justify-items-center items-center py-32"
>
  <div class="w-full flex flex-col items-start justify-center pl-30">
    <div class="text-[#E7C873] font-montserrat tracking-[0.3em] text-sm pb-10">
      NOVOS APARTAMENTOS DE LUXO
    </div>
    <div class="text-white flex flex-col font-playfairDisplay text-5xl pb-12">
      <span> Apresentamos o </span>
      <span> Edifício Imperador </span>
    </div>

    <div
      class="text-white flex flex-col font-montserrat text-base font-light pb-12 xl:w-[70%] w-[85%]"
    >
      <span>
        Um novo ícone residencial na zona mais prestigiada do Funchal. Com uma
        arquitetura contemporânea e acabamentos de elevada qualidade, cada
        apartamento foi concebido para proporcionar conforto, privacidade e
        distinção. Um projeto exclusivo, pensado ao detalhe para quem valoriza
        sofisticação, localização e bem-estar duradouro.</span
      >
    </div>
    <VectorVenda />
  </div>
  <div class="w-[480px] h-[540px] flex items-center justify-center mx-auto">
    <Image
      src={buildingImage}
      alt={"Building Image Summary"}
      class="w-full h-full"
      width={540}
      height={600}
    />
  </div>
</section>
