---
import Santos from "../../../public/Footer/saltos.svg";
import MieleIcon from "../../../public/Footer/miele.svg";
import KrionLogo from "../../../public/Footer/Krion.svg";
import Lg from "../../../public/Footer/LG.svg";
import Dekton from "../../../public/Footer/Dekton.svg";
---

<section
  class="w-full flex sm:flex-row flex-col items-center justify-center bg-[#0A2532] sm:h-[180px] xl:gap-x-28 md:gap-x-20 gap-x-10 sm:gap-y-0 gap-y-6 sm:py-0 py-6"
>
  <div
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center"
  >
    <Santos class="w-full h-full" />
  </div>
  <div
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center"
  >
    <MieleIcon class="w-full h-full" />
  </div>
  <div
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center"
  >
    <KrionLogo class="w-full h-full" />
  </div>
  <div
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center"
  >
    <Lg class="w-full h-full" />
  </div>
  <div
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center"
  >
    <Dekton class="w-full h-full" />
  </div>
</section>
