---
import Santos from "../../../public/Footer/saltos.svg";
import MieleIcon from "../../../public/Footer/miele.svg";
import KrionLogo from "../../../public/Footer/Krion.svg";
import Lg from "../../../public/Footer/LG.svg";
import Dekton from "../../../public/Footer/Dekton.svg";
---

<section
  class="w-full grid grid-cols-2 sm:flex sm:flex-row items-center justify-items-center justify-center bg-[#0A2532] sm:h-[180px] xl:gap-x-28 md:gap-x-20 gap-x-10 sm:gap-y-0 gap-y-6 sm:py-0 py-6"
>
  <a
    href="https://santos.es"
    target="_blank"
    rel="noopener noreferrer"
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center hover:opacity-80 transition-opacity"
  >
    <Santos class="w-full h-full" />
  </a>
  <a
    href="https://www.miele.pt"
    target="_blank"
    rel="noopener noreferrer"
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center hover:opacity-80 transition-opacity"
  >
    <MieleIcon class="w-full h-full" />
  </a>
  <a
    href="https://www.krion.com"
    target="_blank"
    rel="noopener noreferrer"
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center hover:opacity-80 transition-opacity"
  >
    <KrionLogo class="w-full h-full" />
  </a>

  <a
    href="https://www.lg.com"
    target="_blank"
    rel="noopener noreferrer"
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center hover:opacity-80 transition-opacity"
  >
    <Lg class="w-full h-full" />
  </a>
  <a
    href="https://www.cosentino.com/dekton/"
    target="_blank"
    rel="noopener noreferrer"
    class="xl:w-[120px] xl:h-[44px] w-[80px] h-[29px] flex items-center justify-center hover:opacity-80 transition-opacity"
  >
    <Dekton class="w-full h-full" />
  </a>
</section>
